/*Couleur du body*/
body{
    /*background-color: black;*/
}
/*ID DES 3 ZONE*/

#Menu{
    background-color: greenyellow;
}

#Image{
    background-color: blue;
}

#Text{
    background-color: blueviolet;
}

/*Taille des icones*/

/*Logo du Bloc de Menu*/

.fas.fa-align-justify{
    font-size: xx-large;
}

.fas.fa-user{
    font-size: xx-large;
    
}

.fas.fa-phone-alt{
    font-size: xx-large;
}

.fas.fa-user-graduate{
    font-size: xx-large;
}

.fas.fa-briefcase{
    font-size: xx-large;
}

.fas.fa-hourglass-half{
    font-size: xx-large;

}
.fas.fa-cloud-download-alt{
    font-size: xx-large;
}

/*Classe de modificaiton de l'image*/
/*NFP = Ne Fonctionne Pas*/
#PhotoProfils{
    max-width: 100%;
    height: auto;
}