/*ID DES 3 ZONE DE CONTENUS*/
#menu{
    margin-top: 2%; /*2%*/
    background-color:red;
    margin-left: 1%; /*1%*/
}
#BOXImage{
    margin-top: 1%; /*1%*/
    margin-bottom: -1%; /*-1%*/
    background-color: rgb(229, 229, 236);
    align-items: center;

}

.col-xl-8{
    max-width: 64%; /*64%*/
}

 /*CLASS BOOTSTRAP*/
.row{
}
.container-fluid{
}

/*Classe de modificaiton de l'image*/
#Image{
    align-items: center;
    height: auto;
    margin-top: 30%; /*30%*/
    margin-bottom: 30%; /*30%*/
}
/*Logo du Bloc de Menu*/

.fas.fa-align-justify#Large{
    font-size: xx-large;
    padding-top: 30%;
    padding-bottom: 100%; /*de base 150%*/
    padding-right: 35%;
    padding-left: 35%;
}

.fas.fa-user#Large{
    font-size: xx-large;
    padding-bottom: 45%;
    padding-right: 35%;
    padding-left: 35%;
    
}

.fas.fa-phone-alt#Large{
    font-size: xx-large;
    padding-bottom: 45%;
    padding-right: 35%;
    padding-left: 35%;
}

.fas.fa-user-graduate#Large{
    font-size: xx-large;
    padding-bottom: 45%;
    padding-right: 35%;
    padding-left: 35%;
}

.fas.fa-briefcase#Large{
    font-size: xx-large;
    padding-bottom: 45%;
    padding-right: 35%;
    padding-left: 35%;
}

.fas.fa-hourglass-half#Large{
    font-size: xx-large;
    padding-bottom: 45%;
    padding-right: 40%;
    padding-left: 40%;
}
.fas.fa-cloud-download-alt#Large{
    font-size: xx-large;
    padding-top: 90%; /*De base : 40%*/
    padding-right: 30%;
    padding-left: 30%;
    padding-bottom: 30%;
}
/*Bloc qui suis-je*/
#Text{
    margin-top: 2%;
    background-color: chartreuse;
    text-align: center;
    margin-right: 1%;
    /*display: none;*/
}

#RawQSJI1{
    margin-top: 5%;
}

#RawQSJI2{
    margin-top: 20%;
}

#progressBar1{
    margin-bottom: 10%;
    margin-left: 20%;
    width: 70%;
    background-color: green;
}

/*Bloc Des Coordonée*/

#TextCoord{
    display: none;
    margin-top: 2%;
    background-color: chartreuse;
    text-align: center;
    margin-right: 1%;
}

#MCTH1{
    color: red;
    padding-top: 2%;
}
#Raw1{
    padding-bottom: 5%;
    align-items: center;
    text-align: center;
    color: royalblue;
}            
#Raw2{
    padding-bottom: 8%;
    align-items: center;
    color: white;
    
}
#Raw3{
    padding-bottom: 8%;
    align-items: center;
    color: white;
}
#Raw4{
    padding-bottom: 8%;
    align-items: center;
    color: white;
}
#Raw5{
    padding-bottom: 2%;
    align-items: center;
    color: white;
}
.fas.fa-envelope{
    font-size: xx-large; 
    color: darkgrey;
}
.fab.fa-facebook-square{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-github{
    font-size: xx-large;
    color: darkgrey;
}
.far.fa-envelope{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-twitter-square{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-discord{
    font-size: xx-large;
    color: darkgrey;
}
.fas.fa-mobile-alt{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-linkedin{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-skype{
    font-size: xx-large;
    color: darkgrey;
}
.fas.fa-home{
    font-size: xx-large;
    color: darkgrey;
}
.fab.fa-telegram{
    font-size: xx-large;
    color: darkgrey;
}

/*Bloc Formation*/

#Forma{
    margin-top: 2%;
    background-color: chartreuse;
    text-align: center;
    margin-right: 1%;
    display: none;
}

/*Bloc Expérience professionnel*/

#ExpPro{
    margin-top: 2%;
    background-color: chartreuse;
    text-align: center;
    margin-right: 1%;
    display: none;
}

#carouselExampleIndicator{
    margin-top: 10%;
}


/*Bloc Divertissemnt*/

#Divertissement{
    margin-top: 2%;
    background-color: chartreuse;
    text-align: center;
    margin-right: 1%;
}

#Rose1{
    margin-top: 14%;
}
#Rose2{
    margin-top: 3%;
}
#Rose3{
    margin-top: 3%;
}
#Rose4{
    margin-top: 3%;
}
#Rose5{
    margin-top: 3%;
}

/*Modification theme ecran Md SM XS*/

/*Tempalte Général*/

#Menu2{
    background-color: red;
}

#BoxImage2{
    background-color: blue;
    
}

#Contenue{
    background-color: greenyellow;
}

/*Propriété Menu*/
#Ijustify{
    font-size: xx-large;
}

#Iuser{
    font-size: xx-large;
}

#Iphones{
    font-size: xx-large;
}

#Igraduate{
    font-size: xx-large;
}       

#Ibriefcase{
    font-size: xx-large;
}

#Ihourglass{
    font-size: xx-large;
}

#Iclouds{
    font-size: xx-large;
}

/*Conteneur Qui suis je en médium*/

/*Paramétre Titre Médium H1*/
#H1T1{
    text-align: center;
    color: red;
}
/*Paramétre Titre Médium H2*/
#H2T1{
    text-align: center;
    color: red;
}

#Contenue{
    display: none;
}

#MDP{
    text-align: center;
}

#MDP1{
    margin-top: 10%;
}

#Colligne{
    color: greenyellow;
}

/*Parametre Box Coordonée Médium*/

#CoordMD{
    background-color: greenyellow;

}