/*Couleur du body*/
body{
    background: rgb(0,100,148);
    background: linear-gradient(38deg, rgba(0,100,148,1) 0%, rgba(5,130,202,1) 53%, rgba(0,166,251,1) 100%); 
}
/*ID DES 3 ZONE*/

#Menu{
    background: rgba(255, 254, 254, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#Image{
    background: rgba(255, 254, 254, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#Text{
    background: rgba(255, 254, 254, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    border-radius: 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*test glassmorphism*/

/*background: rgba( 126, 120, 120, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11.0px );
-webkit-backdrop-filter: blur( 11.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
*/
/*Taille des icones*/

/*Logo du Bloc de Menu*/

.fas.fa-align-justify{
    font-size: xx-large;
    color: white;
}

.fas.fa-user{
    font-size: xx-large;
    color: purple;
}

.fas.fa-phone-alt{
    font-size: xx-large;
    color: purple;
}

.fas.fa-user-graduate{
    font-size: xx-large;
    color: purple;
}

.fas.fa-briefcase{
    font-size: xx-large;
    color: purple;
}

.fas.fa-hourglass-half{
    font-size: xx-large;
    color: purple;

}
.fas.fa-cloud-download-alt{
    font-size: xx-large;
    color: white;
}

/*Classe de modificaiton de l'image*/
/*NFP = Ne Fonctionne Pas*/
#PhotoProfils{
    max-width: 100%;
    height: auto;
}

/*Classe de modification des logo des Réseaux sociaux*/
.fas.fa-envelope{
    font-size: xx-large; 
    color: purple;
}
.fab.fa-facebook-square{
    font-size: xx-large;
    color: purple;
}
.fab.fa-github{
    font-size: xx-large;
    color: purple;
}
.far.fa-envelope{
    font-size: xx-large;
    color: purple;
}
.fab.fa-twitter-square{
    font-size: xx-large;
    color: purple;
}
.fab.fa-discord{
    font-size: xx-large;
    color: purple;
}
.fas.fa-mobile-alt{
    font-size: xx-large;
    color: purple;
}
.fab.fa-linkedin{
    font-size: xx-large;
    color: purple;
}
.fab.fa-skype{
    font-size: xx-large;
    color: purple;
}
.fas.fa-home{
    font-size: xx-large;
    color: purple;
}
.fab.fa-telegram{
    font-size: xx-large;
    color: purple;
}

/*Classe de modification des hobbies*/
.fas.fa-running{
    font-size: xx-large;
    color: purple;
}
.fas.fa-medal{
    font-size: xx-large;
    color: purple;
}
.fas.fa-tv{
    font-size: xx-large;
    color: purple;
}
.fas.fa-rocket{
    font-size: xx-large;
    color: purple;
}
.fab.fa-jedi-order{
    font-size: xx-large;
    color: purple;
}
.fab.fa-old-republic{
    font-size: xx-large;
    color: purple;
}
.fas.fa-laptop-code{
    font-size: xx-large;
    color: purple;
}
.fas.fa-robot{
    font-size: xx-large;
    color: purple;
}
.fas.fa-guitar{
    font-size: xx-large;
    color: purple;
}
.fas.fa-user-ninja{
    font-size: xx-large;
    color: purple;
}

#TITRE{
    color:darkgrey;
}

#TEXT{
    color : red;
}

#SUBTITRE{
    color: pink;
}
